<h1> Welcome to Q&A Message Board </h1>

We hope you find exactly what answers you are looking for.<br>

<ul>
  {{#each model as |question|}}
     {{question-tile question=question}}
  {{/each}}
</ul>

{{#link-to 'about'}}About us{{/link-to}}
{{#link-to 'contact'}}Contact us.{{/link-to}}
